<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<appSettings>
		<add key="MailServer" value="mail server address"/>
		<add key="MailUsername" value="mail username"/>
		<add key="MailPasword" value="mail password"/>
		<add key="MailFrom" value="mail address"/>
		<add key="EnableErrorLogEmail" value="true"/>
		<add key="ErrorLogEmail" value="errors@example.com"/>
	</appSettings>
	
	<connectionStrings>
		<add name="CulinaryDelightConnection" connectionString="Server=(local)\SqlExpress;
			 Database=CulinaryDelight; User=culinarydelight; Password=password" 
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
		<pages theme="CulinaryDelightDefault"/>
		<customErrors mode="RemoteOnly" defaultRedirect="Oops.aspx" />
    </system.web>

</configuration>
